.App {
  font-family: sans-serif;
  /* text-align: center; */
}
.horizontal-line {
  width: 60vw;
  margin-left: 0;
}
.container {
  max-width: 60rem;
  margin: auto;
}
.rocket-img {
  display: block;
  margin: auto;
}
@counter-style thumbs {
  system: cyclic;
  symbols: "\1F44D";
  suffix: " ";
}

/* ul {
  list-style: thumbs;
} */
.rocket-list {
  list-style: none;

  padding-inline-start: 0;
  /* list-style-type: space-counter; */
  /* list-style: thumbs; */
  /* symbols: url("https://img.icons8.com/ios/100/000000/rocket--v1.png"); */
}
.rocket-name {
  margin-left: 0;
  /* background-color: maroon; */
  font-size: 1.8rem;
}
